//
// Google Webfonts
//

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Sen:400,700|Special+Elite&display=swap');

// font-family: 'Special Elite', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Sen', sans-serif;

//
// General styling
//

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Sen', sans-serif;
}
