//
// Game template styling
//

@import "general";

//
// Layout styling
//
//
// Lobby template styling
//

@import "general";

//
// Layout styling
//

#app {
    width: 100%;
    min-height: 100%;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: hsl(0, 0%, 0%);
    .v-application--wrap {
        flex: 1;
        display: flex;
        min-height: auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        #topnav-wrapper {
            width: 100%;
            flex: 0 0 50px;
            background-color: hsl(0, 0%, 5%);
            #topnav {
                height: 100%;
                color: #000;
                display: flex;
                margin: 0 auto;
                padding: 0 30px;
                align-items: center;
                flex-direction: row;
                #topnav-logo {
                    padding-top: 3px;
                    a, a:active, a:visited, a:link {
                        transition: all .3s;
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.25);
                        &:hover {
                            color: rgba(255, 255, 255, 0.75);
                        }
                        #topnav-logo__text {
                            font-size: 1.3em;
                            font-family: 'Special Elite', cursive;
                        }
                    }
                }
                #topnav-links {
                    flex: 1;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    li {
                        margin: 0 0 0 20px;
                        &:first-child {
                            margin: 0;
                        }
                        a, a:active, a:visited, a:link {
                            font-size: 1em;
                            font-weight: 400;
                            transition: all .3s;
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.25);
                            &:hover {
                                color: rgba(255, 255, 255, 0.75);
                            }
                        }
                    }
                }
            }
        }
        #content-wrapper {
            flex: 1;
            width: 100%;
            display: block;
            .content {
                padding: 30px;
                box-sizing: border-box;
            }
        }
        #footer-wrapper {
            flex: 0 0 50px;
            #footer {
                font-size: .7em;
                text-align: center;
                box-sizing: border-box;
                padding: 50px 0 25px 0;
                color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

//
// Game styling
//

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}
