//
// Lobby template styling
//

@import "general";

//
// Layout styling
//

#app {
    width: 100%;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: hsl(0, 0%, 95%);
    .v-application--wrap {
        flex: 1;
        display: flex;
        min-height: auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        #topnav-wrapper {
            width: 100%;
            flex: 0 0 80px;
            background-color: hsl(0, 0%, 90%);
            #topnav {
                height: 100%;
                color: #000;
                display: flex;
                width: 1000px;
                margin: 0 auto;
                align-items: center;
                flex-direction: row;
                #topnav-logo {
                    a, a:active, a:visited, a:link {
                        color: #000;
                        text-decoration: none;
                        #topnav-logo__text {
                            font-size: 1.5em;
                            font-family: 'Special Elite', cursive;
                        }
                    }
                }
                #topnav-links {
                    flex: 1;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    li {
                        margin: 0 0 0 20px;
                        &:first-child {
                            margin: 0;
                        }
                        a, a:active, a:visited, a:link {
                            color: #333;
                            font-size: 1em;
                            font-weight: 400;
                            transition: all .3s;
                            text-decoration: none;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
        #content-wrapper {
            flex: 1;
            width: 1000px;
            padding: 50px 0;
            box-sizing: border-box;
        }
        #footer-wrapper {
            flex: 0 0 100px;
            #footer {
                font-size: .8em;
                text-align: center;
                box-sizing: border-box;
                padding: 50px 0 25px 0;
                color: hsl(0, 0%, 50%);
            }
        }
    }
}

//
// Lobby
//

#lobby {
    width: 100%;
    #lobby-header {
        margin: 0 0 50px 0;
        #lobby-header__title {
            margin: 0;
            text-align: center;
        }
    }
    #lobby-content {
        display: flex;
        flex-direction: row;
        #lobby-content__left {
            flex: 1;
        }
        #lobby-content__right {
            flex: 0 0 300px;
            margin: 0 0 0 30px;
        }
    }
}

//
// Leaderboards
//

#leaderboards-wrapper {
    width: 600px;
    margin: 0 auto;
}

//
// Settings
//

#settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px -30px -15px;
    .setting-wrapper {
        flex: 0 0 33.33%;
        padding: 0 15px 30px 15px;
        box-sizing: border-box;
        .setting {
            padding: 30px;
            display: flex;
            color: #000000;
            border-radius: 3px;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            box-sizing: border-box;
            background-color: #fff;
            justify-content: center;
            transition: all .3s;
            &:hover {
                background-color: hsl(0, 0%, 95%);
            }
            .setting-icon {
                flex: 0 0 25px;
                font-size: 2em;
                margin: 0 15px 0 0;
            }
            .setting-text {
                font-size: 1.2em;
                font-weight: 600;
            }
        }
    }
}

//
// Profile
//

#profile {
    width: 650px;
    margin: 0 auto;
    #profile-avatar {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin: 0 auto 30px auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: hsl(0, 0%, 100%);
    }
    #profile-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

//
// Change password
//

#change-password {
    width: 650px;
    margin: 0 auto;
}

//
//
//

